body {
  background-image: url(../images/book.jpg);
  /* background-color: rgb(118, 217, 237); */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.submit {
  background-color: blueviolet;
  color: white;
  border: none;
}
.submit:hover {
  background-image: none;
  font-weight: 600;
}
.alert {
  bottom: 5px;
  right: 25px;
  position: absolute;
  z-index: 15;
  width: 500px;
}
